body{
    margin: 0px;
    font-size: 25px;
}
/* ............................BACKGROUND-IMAGE.................................. */
#body-header{
    height: 65vh;
    opacity: 0.9;
    background-image: url("static/lappi.jpg");
    background-size: cover;
    background-position: center;
    background-attachment: fixed;
}
/* ............................TEXT-CENTER.................................. */
.text-center{
    text-align: center;
}

.horizontal-list{
    list-style-type: none;
    padding-left: 0px;
}

.horizontal-list li{
    display: inline-block;
    margin:20px 25px 25px 0px;
}

.horizontal-list a{
    color: rgb(248, 237, 223);
    text-decoration: none;
}
.nav-menu{
    transition: color 0.5s, border-bottom 4px;
}

.horizontal-list a:hover{
    color: rgb(248, 221, 188);
}
/* ............................NAME HEADING.................................. */
#my-name{
    font-size: 4rem;
    letter-spacing: 0.3rem;
    color: rgb(248, 237, 223);
    font-weight: 900;
}
/* ............................SOCIAL ICONS.................................. */
.social-icons li a i{
    padding: 15px;
    border-radius: 50%;
}
.social-icons li a i:hover{
    box-shadow: 0px 0px 6px 8px rgb(158, 156, 156);
}
/* ............................ABOUT.................................. */
#about{
    height: auto;
    /* width: 12rem; */
    position: relative;
}
#my-pic{
    margin: auto;
    height: 14rem;
    width: 13rem;
    margin-top: -13vh;
}
#my-pic img{
    height: 100%;
    width: 100%;
    border-radius: 50%;
    box-shadow: 0px 0px 8px 6px rgb(223, 219, 219);
}
#bio p{
    text-align: center;
    margin: 30px;
    padding: 50px;
}
/* ............................GENERAL RULE FOR SECTION.................................. */
section{
    width: 100%;
    /* height: 75vh; */
    display: flex;
    flex-direction: column;
    align-items: center;
}
section:nth-child(2n+1){
    background-color: white;
}
section:nth-child(2n){
    background-color: rgb(248, 244, 244);
}
/* ............................SKILLS SECTION.................................. */
.section-heading{
    width: auto;
    padding: 20px 10px 10px;
    font-weight: 400;
}
.mb75px{
    margin-bottom: 75x;
}
.section-heading span{
    font-size: 40px;
    color: #2857a4;
    display: inline-block;
    padding-top: 10px;
    margin-right: 0.5rem;
}
.skills-display{
    width: 70%;
    height: 200px;
    display: flex;
    flex-wrap: wrap;
    justify-content: space-between;
}
.skill-progress{
    width: 12rem;
    height: 2rem;
    background-color: lightgray;
    border-radius: 1rem;
}
.general-percent{
    height: inherit;
    border-top-left-radius: 1rem;
    border-bottom-left-radius: 1rem;
}
.mb-red{
    background-color: rgb(247, 173, 130);
    width: 70%;
}
.mb-green{
    background-color: rgb(133, 248, 129);
    width: 90%;
}
.mb-blue{
    background-color: rgb(152, 152, 247);
    width: 90%;
}
.mb-yellow{
    background-color: rgb(243, 240, 49);
    width: 80%;
}
.mb-orange{
    background-color: rgb(243, 134, 71);
    width: 70%;
}
.mb-cyan{
    background-color: rgb(92, 222, 245);
    width: 50%;
}
.mb-pink{
    background-color: rgb(245, 115, 191);
    width: 80%;
}
.mb-light-green{
    background-color: rgb(53, 150, 105);
    width: 40%;
}
.skill-name span{
   margin-left: 30px ;
    font-size: 20px;
    color: white;
}
/* ............................Education.................................. */
.time-line{
    position: relative;
    width: 75%;
    border: 2px solid black;
}
.time-line-boxex{
    position: relative;
    margin: 5px;
    width: 40%;
    left: 5%;
    min-height: 150px;
    border: 2px solid black;
}
.time-line-boxex:nth-child(2n){
    left: 53%;
}
.timeline-divider{
    position: absolute;
    height: 75%;
    width: 0;
    border: 2px dashed rgb(182, 182, 224);
    top: 9%;
    left: 50%;
}
.timeline-traveller{
    position: sticky;
    top: 15%;
    transform: rotate(90deg);
}
.time-line-boxex:nth-child(2n)::after{
    content: "";
    position: absolute;
    top: 30%;
    left: -12%;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    background-color: red;
    z-index: 1;
}
.time-line-boxex:nth-child(2n+1)::after{
    content: "";
    position: absolute;
    top: 35%;
    right: -13%;
    border-radius: 50%;
    height: 0.8rem;
    width: 0.8rem;
    background-color: red;
    z-index: 1;
}
@media screen and (max-width: 800px){
    .time-line-boxex{
        position: relative;
        width: 90%;
    }
    .time-line-boxex:nth-child(2n){
        left: 0%;
    }
    .time-line-boxex{
        left: 0%;
    }
    .timeline-divider{
        left: 95%;
        z-index: 2;
    }
    .time-line-boxex:nth-child(2n)::after{
        left: 102.5%;
    }
    .time-line-boxex:nth-child(2n+1)::after{
        right: -6%;
    }
    .skills-display{
        height: 350px;
        justify-content: center;
    }
    #my-name{
        font-size: 3rem;
    }

}